<% extend('base') %>
<div class="profileContainer">
    Hello
</div>
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var navBar = $("#bs-example-navbar-collapse-1");
        navBar.html("<ul class='nav navbar-nav navbar-right'>" +
        "<li class='hidden'><a href='#page-top'></a></li>" +
        "<li class='page-scroll' id='navAuth'><a href='/logout'>Logout</a></li>" +
        "</ul>");
    });
</script>