<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <%# EJS Training %>
    <title>Hello</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/icon_app.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    Welcome To my profile
</div>
</body>
</html>